* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

:root {
    /* --background: #fffae6; */
    --light: #fffae6;
    /* --font-color: #353430; */
    --dark: #353430;
    --command: #880831;
    --science:#2e4e68;
    --ops: #d1872c; 
    --base: #4f5261;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    background-color: var(--light);
    color: var(--dark);
}
body.dark {
    background-color: var(--dark);
    color: var(--light);
}
body.dark a {
    color: var(--light);
}
body.dark a:focus, body.dark a:hover {
    outline: 2px dashed var(--light);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    color: var(--dark);
    font-weight:bold;
    text-decoration: underline;
    
}

a:focus, a:hover {
    outline: 2px dashed var(--dark);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

header {
    border-bottom: 0.3rem solid black;
    border-image: repeating-linear-gradient( 90deg, var(--command), var(--command) 34%, var(--science) 34%, var(--science)67%, var(--ops) 67%, var(--ops) 100%) 20;
}

nav  {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    padding: 0.5rem 1.2rem;
}

.site-name {
    display: grid;
    justify-content: start;
    align-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.site-name a {
    text-decoration: none;
}

.site-name-short {
    display: none;
}
.site-name-short a{
    text-decoration: none;
}
@media (max-width: 768px) {
    .site-name {
        display: none;
    }
    .site-name-short {
        display: grid;
        font-size: 1.4rem;
        font-family: 'Open Sans Condensed', sans-serif;
    }
}

.site-links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
}
.site-links a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
.skip {
    position: absolute;
    transform: translateY(-140%);
    transition: transform 0.3s ease-in-out;
}
.skip:focus {
    padding: 0.8rem .5rem;
    /* transition: all 0.2s ease-in-out; */
    transform: translateY(0%);
    left: 20%;
}
main {
    min-height:75vh;
    grid-column-start: 2;
}
@media (max-width: 768px){
    .container {
        grid-template-columns: 100vw;
        justify-items: center;
        
    }
    main {
        grid-column-start: 1;
        padding: 1rem;
        justify-self: center;
    }
}

.social {
    list-style-type: none;
    font-size: 1.4rem;
    display: flex;
}
.social > li {
    margin: 0 1rem;
}

.toggle{
    background-color: transparent;
    border-radius: 50%;
    width: 1.15rem;
    height: 1.15rem;
}
.dark-toggle {
    background-color: var(--ops) !important;
    border: 2px solid black;
}

.light-toggle {
    background-color: black !important;
    border: 3px solid var(--ops);
}

.mt-2 {
    margin-top: 0.5rem;
}

footer {
    /* border-top: 1px solid var(--dark); */
    padding: 0.5rem 1rem;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: var(--base);
    color: var(--light);
}
/* body.dark footer {
    border-top: 1px solid var(--light);
} */

footer a {
    text-decoration: none;
    color: var(--light);
    background-image: linear-gradient(transparent 1.25rem, var(--light) 50%, var(--light) 100%);
}
footer a:focus, footer a:hover {
    outline: 2px dashed var(--light);
}