* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
  font-size: 1rem;
  margin: 0;
  height: 100vh;
  background-color: #fffae6;
  color: #353430;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #4f5261;
}
body a {
  color: #353430;
  font-weight: bold;
  text-decoration: underline;
}
body a:focus,
body a:hover {
  outline: 2px dashed #353430;
}
body .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
body .mt-2 {
  margin-top: 0.5rem;
}
body header {
  border-bottom: 0.3rem solid black;
  border-image: repeating-linear-gradient(90deg, #880831, #880831 34%, #2e4e68 34%, #2e4e68 67%, #d1872c 67%, #d1872c 100%) 20;
}
body header nav {
  display: grid;
  grid-template-columns: 7vw 28vw auto;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  padding: 0.5rem 1.2rem;
}
body header nav .skip {
  position: absolute;
  transform: translateY(-140%);
  transition: transform 0.3s ease-in-out;
}
body header nav .skip:focus {
  padding: 0.8rem 0.5rem;
  transform: translateY(0%);
  left: 12%;
}
@media (min-width: 768px) {
  body header nav .skip:focus {
    left: 40%;
  }
}
body header nav .nav-photo {
  border-radius: 50%;
  width: 60px;
}
@media (max-width: 768px) {
  body header nav .nav-photo {
    display: none;
  }
}
body header nav .site-name {
  display: grid;
  justify-content: start;
  align-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
body header nav .site-name a {
  text-decoration: none;
}
@media (max-width: 768px) {
  body header nav .site-name {
    display: none;
  }
}
body header nav .site-name-short {
  display: none;
}
body header nav .site-name-short a {
  text-decoration: none;
}
@media (max-width: 768px) {
  body header nav .site-name-short {
    display: grid;
    grid-column-start: 1;
    font-size: 1.4rem;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}
body header nav .site-links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
}
body header nav .site-links a {
  text-decoration: none;
}
body header nav .site-links .toggle {
  background-color: transparent;
  border-radius: 50%;
  width: 1.15rem;
  height: 1.15rem;
}
body header nav .site-links .dark-toggle {
  background-color: #d1872c !important;
  border: 2px solid black;
  box-shadow: 0px 0px 0px 1px #d1872c;
}
body header nav .site-links .light-toggle {
  background-color: black !important;
  border: 2px solid #d1872c;
  box-shadow: 0px 0px 0px 1px black;
}
body .container {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}
@media (max-width: 768px) {
  body .container {
    grid-template-columns: 95vw;
    max-width: 95vw;
  }
}
body .container main {
  min-height: 85vh;
  grid-column-start: 2;
}
@media (max-width: 768px) {
  body .container main {
    grid-column-start: 1;
    padding: 1rem;
  }
}
body .container main .social {
  list-style-type: none;
  font-size: 1.6rem;
  display: flex;
  padding-left: 0;
}
body .container main .social li {
  margin: 0 1rem;
}
body footer {
  padding: 0.5rem 1rem;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: #4f5261;
  color: #fffae6;
}
body footer a {
  text-decoration: none;
  color: #fffae6;
  background-image: linear-gradient(transparent 1.25rem, #fffae6 50%, #fffae6 100%);
}
body footer a:focus,
body footer a:hover {
  outline: 2px dashed #fffae6;
}
body.dark {
  background-color: #353430;
  color: #fffae6;
}
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #c5c7d0;
}
body.dark a {
  color: #fffae6;
}
body.dark a:focus,
body.dark a:hover {
  outline: 2px dashed #fffae6;
}
