@light: #fffae6;
@dark: #353430;
@command: #880831;
@science:#2e4e68;
@ops: #d1872c; 
@base: #4f5261;

@screen-xsmall: 480px;
@screen-small: 768px;

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    height: 100vh;
    background-color: @light;
    color: @dark;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans Condensed', sans-serif;
    }

    h2, h3, h4, h5, h6 {
        color: @base;
    }

    a {
        color: @dark;
        font-weight:bold;
        text-decoration: none;
        
        &:focus, &:hover {
            outline: 2px dashed @dark;
        }
    }
    
    p {
        font-size: 1.1rem;
        line-height: 1.6;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    .mt-2 {
        margin-top: 0.5rem;
    }

    .social {
        list-style-type: none;
        font-size: 1.6rem;
        display: inline-flex;
        padding-left: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.7rem;

        li {
            margin: 0 1rem;

            a {
                background-image: none;;
            }
        }
    }

    header {
        border-bottom: 0.3rem solid black;
        border-image: repeating-linear-gradient( 90deg, @command, @command 34%, @science 34%, @science 67%, @ops 67%, @ops 100%) 20;

        @media (max-width: @screen-xsmall){
            padding-top: 0.5rem;
        }

        nav  {
            display: grid;
            grid-template-columns: 1fr 5fr 5fr;
            grid-auto-flow: column;
            grid-gap: 0.5rem;
            padding: 0.5rem 1.2rem;

            .skip {
                position: absolute;
                transform: translateY(-170%);
                transition: transform 0.3s ease-in-out;

                &:focus {
                    padding: 0.8rem .5rem;
                    transform: translateY(0%);
                    left: 12%; 
    
                    @media (max-width: @screen-xsmall){
                        padding: 0;
                        transform: translateY(-45%);
                        left: 35%;
                    }
                    @media (min-width: @screen-xsmall) and (max-width: @screen-small){
                        transform: translateY(-15%);
                    }
                    @media (min-width: @screen-small){
                        left: 40%;
                    }
                    
                }
            }

            .nav-photo {
                border-radius: 50%;
                // width: 60px;

                @media (max-width: @screen-small) {
                    display: none;
                }
            }

            .site-name {
                display: grid;
                justify-content: start;
                align-content: center;
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 1.5rem;
                font-weight: bold;

                & a {
                    text-decoration: none;
                }

                @media (max-width: @screen-small) {
                    display: none;
                }
            }

            .site-name-short {
                display: none;

                & a {
                    text-decoration: none;
                }

                @media (max-width: @screen-small) {
                    display: grid;
                    grid-column-start: 1;
                    font-size: 1.4rem;
                    font-family: 'Open Sans Condensed', sans-serif;
                }
            }

            .site-links {
                display: grid;
                justify-content: right;
                align-content: center;
                grid-auto-flow: column;
                grid-gap: 1.5em;

                & a {
                    text-decoration: none;
                }

                .toggle{
                    background-color: transparent;
                    border-radius: 50%;
                    width: 1.15rem;
                    height: 1.15rem;
                }
                .dark-toggle {
                    background-color: @ops !important;
                    border: 2px solid black;
                    box-shadow: 0px 0px 0px 1px @ops;
                }
                
                .light-toggle {
                    background-color: black !important;
                    border: 2px solid @ops;
                    box-shadow: 0px 0px 0px 1px black;
                }
            }
        }

    }

    .container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-column-gap: 0.7rem;

        main {
            min-height:85vh;
            grid-column-start: 2;
            padding-bottom: 2rem;

            @media (max-width: @screen-small){
                grid-column: 1 / span3;
                padding: 1rem;              
            }

            hr {
                margin: 2rem 0 2rem 0;
            }

            .project-list {
                display:grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
                grid-column-gap: 2.5rem;
                grid-row-gap: 2rem;

                @media (max-width: @screen-small){
                    grid-template-columns: unset;   
                }
            }

            .card {
                background-color: lighten(@light, 4%);

                .card-img-top {
                    width: 100%;
                    flex-shrink: 0;
                }

                .card-body {
                    padding: 0.7rem;

                    .card-footer {
                        display: flex;
                        justify-content: space-between;
                        padding: 0.75rem 0 0.75rem 0;
                        border-top: 1px solid @dark;
                    }
                }
            }
        }
    }

    footer {
        padding: 0.5rem 1rem;
        display: grid;
        align-items: center;
        text-align: center;
        background-color: @base;
        color: @light;

        & a {
            text-decoration: none;
            color: @light;
            background-image: linear-gradient(transparent 1.25rem, @light 50%, @light 100%);

            &:focus, &:hover {
                outline: 2px dashed @light;
            }
        }
        .svg-inline--fa {
            margin-left: 0.3rem;
            margin-right: 0.3rem;
        }
    }
    

    &.dark {
        background-color: @dark;
        color: @light;
        transition: color 0.3s ease-out, background-color 0.3s ease-out;

        h2, h3, h4, h5, h6 {
            color: lighten(@base, 45%);
        }

        & a {
            color: @light;

            &:focus, &:hover {
                outline: 2px dashed @light;
            }
        }

        .container  main .card {
            background-color: lighten(@dark, 10%);

           .card-body .card-footer {
                border-top: 1px solid @light;
            }
        }
    }
}