---
import '@styles/Header.scss'
import { Image } from '@astrojs/image/components';
---
<header>
    <nav>
      <a href="#main-content" class="skip">
        Skip to main
      </a>
      <div>
        <div class="nav-photo">
          <Image src={import('../../public/assets/profile-photo.jpg')} class="nav-photo" width={60} height={60} alt="headshot of danielle" style="display:inherit;"/>
        </div>
        
      </div>
      <div class="site-name">
        <a href="/">Danielle Mayabb</a>
      </div>
      <div class="site-name-short">
        <a href="/">DM</a>
      </div>
      <div class="site-links">
        <a href="/Work">Work</a>
        <a href="/Experience">Experience</a>
        <a href="/About">About</a>
        <span>
          
        </span>
      </div>
    </nav>
  </header>